.main-layout {
  .container.d-flex {
    margin-bottom: 3rem;
    align-items: flex-start;
  }
}

.tabs-wrapper,
.tab-content,
.models-slider {
  width: 100%;
}

.models-slider {
  width: 100%;
}

.tabs-wrapper {
  margin-bottom: 3rem;
}

.top-row {
  margin-bottom: 2rem;
  @media (max-width: 767px) {
    display: block;
  }

  .h4 {
    span {
      font-size: 12px;
      padding-left: 1rem;
      font-weight: 400;
      @media (max-width: 767px) {
        display: block;
        margin: 5px 0;
      }
    }
  }
}

.tab-list {
  font-size: 14px;
  font-weight: 700;
  @media (max-width: 767px) {
    margin: 20px 0 10px;
  }
  li {
    padding: 0 1em .6em;
    display: block;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all .3s;
    @media (max-width: 767px) {
      padding: 0 .5em .5em;
    }
    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &:hover {
      color: $pink;
    }

    &.active {
      color: $pink;
      border-bottom-color: $pink;
    }
  }
}

.tab-content {
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &.active {
    height: auto;
    visibility: visible;
    overflow: visible;
  }
}
