.profile-content {
  align-items: flex-start;
}
.profile-content__body {
  width: calc(100% - 24rem);
  padding-left: 3rem;
  padding-right: 3rem;
  @media(max-width: 1220px) {
    width: calc(100% - 200px);
  }
  @media(max-width: 1023px) {
    padding-right: 0;
  }
  @media(max-width: 767px) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  & > .h3 {
    margin-bottom: 1em;
  }
  & > p {
    line-height: 1.4;
    margin-bottom: 1em;
    font-weight: 600;
  }
  .order-list {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.3;
    margin: 30px 0;
    padding-left: 20px;
    list-style: decimal;
    @media(max-width: 1023px) {
      font-size: 14px;
    }
    li {
      list-style: decimal;
    }
  }
}
.notice-block,
.form-block__field{
  border-radius: 10px;
  padding: 2.5rem;
  margin-bottom: 3rem;
  @media(max-width: 1023px) {
    margin-bottom: 20px;
  }
  @media(max-width: 480px) {
    padding: 15px;
    margin-bottom: 30px;
  }
  .h3 {
    margin-bottom: .5em;
    line-height: 1.3;
  }
  p {
    line-height: 1.4;
    font-weight: 500;
  }
}
.pay-by-card,
.support-block{
  margin-bottom: 5rem;
  @media(max-width: 767px){
    margin-bottom: 30px;
  }
  .h3,
  .h4 {
    margin-bottom: 1em;
  }
}
.list {
  li {
    font-size: 14px;
    margin-bottom: 15px;
    a {
      color: #000;
      &:hover {
        color: $pink;
      }
      &.pink {
        color: $pink;
      }
    }
    span{
      padding-right: 5px;
    }
  }
}
.end-date {
  background: $grey-light;
  display: inline-block;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 700;
  padding: .5em 1em;
  margin: 3rem 0;
  @media(max-width: 767px) {
    font-size: 16px;
    margin: 20px 0;
  }
}
.card-img-group {
  margin-bottom: 25px;
  img {
    max-width: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
.form-block {
  border-radius: 10px;
}
.form-block__field {
  border-radius: 0;
  margin-bottom: 0;
  &:not(:last-child) {
    border-bottom: 1px solid $grey-bg;
  }
  @media (max-width: 767px){
    padding: 15px 10px;
  }
}
@media (max-width: 767px) {
  .profile-content {
    display: block;
  }
  .form-block {
    margin: 0 -10px;
  }
}

.account-setting-block__row {
  border-bottom: 1px solid #d4d1d7;
}
.account-setting-block__item {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  min-height: 70px;
  display: flex;
  align-items: center;
  &:not(:last-child) {
    padding-right: 2rem;
  }
  .check {
    @media (max-width: 480px) {
      margin-left: auto;
      margin-right: auto;
    }
    input {
      display: none;
      &:checked + label {
        background-color: $pink;
        border-color: $pink;
      }
    }
    label {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #d4d1d7;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .icon-check {
        color: #fff;
        font-size: 10px;
      }
    }
  }
  .input-wrapper {
    margin-bottom: 0;
  }
}
.account-option-row {
  @media(max-width: 480px) {
    display: block;
    .btn {
      display: table;
      margin-left: 0 !important;
      margin-top: 10px;
    }
  }
}
.label {
  display: inline-flex;
  align-items: center;
  background-color: #d4d1d7;
  border-radius: 10px;
  font-size: 12px;
  padding: 8px 10px;
  font-weight: 500;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  .delete {
    width: 14px;
    height: 14px;
    flex: none;
    position: relative;
    cursor: pointer;
    top: -1px;
    margin-left: 4px;
    &::before,
    &::after{
      content: '';
      width: 100%;
      height: 1px;
      background-color: $pink;
      position: absolute;
      left: 0;
      top: 50%;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
.account-setting-block__item__form__row {
  .input-wrapper{
    width: 200px;
  }
  .btn--small {
    min-height: 40px;
  }
}
.account-setting-block__item__form__row {
  @media(max-width: 480px) {
    display: block;
    width: 100%;
    .input-wrapper {
      width: 100%;
      margin-bottom: 10px;
    }
    .btn {
      margin-left: 0 !important;
    }
  }
}
