.right-sidebar {
  background-color: $grey-light;
  padding: 10px 15px;
  text-align: center;
  @media (max-width: 1023px) {
    display: none;
  }
  a {
    display: block;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &:hover {
      opacity: .8;
    }
    img {
      width: 100%;
    }
  }
}
