$dark-gradient: linear-gradient(to left, #160550 0%, #440150 100%);
$pink-gradient: linear-gradient(-123deg, #ef019e 0%, #ad0082 100%);;
$red-gradient: linear-gradient(to left, #7b0347 0%, #68007b 100%);

$violet: #6e5491;
$violet-light: #9827ff;
$pink: #ef019e;
$yellow: #ff9600;
$grey: #b0abb5;
$green: #57c8a0;
$grey-bg: #d4d1d7;
$grey-dark: #b0abb5;
$grey-light: #f4f2f6;
$yellow: #ff9600;

$border-color: #d4d1d7;

