.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                .profile-content__body.w-100
                    .text-block
                        h2 About Us
                        p.
                            TS-Dating.com is largest worldwide transsexual escort and dating website, offering a chance for transgender people (transsexuals, transvestites, ladyboys, crossdressers) and their admirers to connect and find each other. As you might have noticed it's not only an adult escort and dating site, but site has many features like forum, chatroom, news, webcams and much much more. We are currently one of the leading transsexual dating sites on the web and we intend to stay that way :)
                        p.
                            TS-Dating.com has been around since autumn 2004. It started as a small one-man project and has grown into active substantial community over time. The site was originally developed for europe but now rapidly expanding to rest of the world. Our plans for future is to grow even bigger, so we are very interested in buying transsexual related wesbites like: Shemale Escort Sites, Transsexual Dating sites, Shemale Porn sites. If you are a transsexual content related site owner, then take a look <a href="#">WE BUY SHEMALE ESCORT / PORN or DATING SITES</a>
                        p We are always looking for new partners and co-operation oppurtunities.
                    .contact-us
                        .h3.font-700.mb-2 Contact Us
                        p.mb-3.
                            <b>TSDMedia OÜ</b><br />
                            <b>Address:</b> Narva mnt 5, 10117 Tallinn, Estonia<br />
                            <b>Reg No:</b> 14381980
                        .h4.font-700.mb-2 Custmer Service Contacts
                        p.font-500.mb-1.
                            <span class="grey">E-mail:</span> <a href="mailto:info@ts-dating.com" class="pink link">info@ts-dating.com</a>
                        p.font-500.mb-1.
                            <span class="grey">Skype:</span> <a href="#" class="black">live:yksiksyda</a>
                        p.font-500.mb-1.
                            <span class="grey">Phone:</span> <a href="tel:+37256886126" class="black">+372 56 886 126</a>
                        p.font-500.mb-1.
                            <span class="grey">Whatsapp:</span> <a href="tel:+37256886126" class="black">+372 56 886 126 <span class="icon-viber green"></span></a>
                        p.font-500.mb-1.
                            <span class="grey">KIK:</span> <a href="#">estoniaguy</a>
                        p.font-500.mb-4.
                            <span class="grey">Facebook:</span> <a href="http://www.facebook.com/datingts" class="pink link">http://www.facebook.com/datingts</a>
                    .h3.font-700.mb-1 Cancel Subscription
                    p.font-500.mb-3 Please contact billing support if you which to <a href="#" class="pink link">CANCEL YOUR SUBSCRIPTION</a>
                    .h3.font-700.mb-1 About Advertising
                    p.font-500.mb-3 If you are interested in advertising in ts-dating.com, then take a look at prices, banner sizes on <a href="#" class="pink link">advertising page</a>
                    .h3.font-700.mb-1 Support Us
                    p.font-500.mb-3 Hopefully you are kind enough to support us and add our advertising banner or video to your homepage or social network page. Take a look at our advertising material <a href="#" class="pink link">HERE</a>


        include ../includes/rightSidebar.pug
