.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                .profile-content__body.w-100
                    .h2.font-700.mb-2 Advertise
                    .text-banner.text-center.text-banner--small.mb-3
                        .h3.font-600 DISCOUNT CORONA
                        p.text--lg.
                            Because of Corona virus crisis - <span class="violet-light font-700">All Banners and TOP AD</span> prices now <span class="violet-light font-700">30% Discount!</span>
                    .contact-us
                        p.font-500.mb-2.
                            TS-Dating.com is ideal place to advertise any website that is transgender-transsexual related, photographers, or for shemale escort services. We have over 50 000 unique visitors every day.<br>
                            Below are examples of standard banner spaces where your banner can be placed.
                        p.font-500.mb-1.
                            <span class="grey">Payment options:</span> Credit Card, Wire-Bank transfer (EU OR US), <a href="#" class="pink link">Western Union</a>, <a href="#" class="pink link">MoneyGram</a>, PAYPAL
                        p.font-500.mb-1.
                            <span class="grey">Contact:</span> <a href="#" class="pink link">sales@ts-dating.com</a>
                        p.font-500.mb-1.
                            <span class="grey">Phone:</span> <a href="tel:+37256886126" class="black">+372 56 886 126</a>
                        p.font-500.mb-1.
                            <span class="grey">Whatsapp:</span> <a href="tel:+37256886126" class="black">+372 56 886 126 <span class="icon-viber green"></span></a>
                        p.font-500.mb-1.
                            <span class="grey">Banner design cost:</span> 30 EUR.
                        p.font-500.mb-1.
                            <span class="grey">Combo deals available:</span> Ask for a FREE Premium Membership during banner advertising period. Also ask for discount if you purchase 2 or more months advertising. B! Prices below are for private persons such as escorts etc. For COMPANIES or escort AGENCIES there there is additional surcharge 100%.
                        p.font-500.mb-4.
                            <span class="grey">Bonuses:</span> Side banner + Escort list banner 210 EUR!
                        a.btn.btn--red-gradient.btn--lg.mb-4(href="#") Make Banner Payment
                    .banner-type
                        .banner-type__header
                            .h4.font-700.mb-1 Right-Side Banner(133x184) - 1 month 140 EUR - 2 weeks 100 EUR
                            p.grey.mb-1 Rotative banner. Banner will be shown on every page in ts-dating.
                            p.grey Ask for a COMBO deal with Escort list banner! <span class="pink font-700">Special Price!</span>
                        .banner-type__preview
                            img(src='img/photos/banenr-type-header.jpg')
                    .banner-type
                        .banner-type__header
                            .h4.font-700.mb-1 Right-Side Banner(133x184) - 1 month 140 EUR - 2 weeks 100 EUR
                            p.grey.mb-1 Rotative banner. Banner will be shown on every page in ts-dating.
                            p.grey Ask for a COMBO deal with Escort list banner! <span class="pink font-700">Special Price!</span>
                        .banner-type__preview
                            img(src='img/photos/banner-type-sidebar.jpg')

        include ../includes/rightSidebar.pug
