.main-layout
    .container.d-flex
        .content
            include ../includes/horizontal-banner.pug
            a.webcam-banner.js--close-container(href="#")
                span.close.js--close
                    span.icon-close
                .webcam-banner__content.d-flex.align-center.justify-center
                    span.icon-webcam
                    .h1 New section has opened! <b>TS ESCORTS ON WEBCAM!</b>

            .tabs-wrapper
                .top-row.d-flex.align-center.justify-between
                    .h4.font-600 Top & Premium Shemale Escorts <span class="grey">346,702 members</span>
                    ul.tab-list.d-flex
                        li.active Online
                        li All
                .tab-content.active
                    .models-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Alex Razersection <sup class="status offline"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Kinky Domina <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Dolyn Pozo <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Boby Roby <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                .tab-content
                    .models-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Alex Razersection <sup class="status offline"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Kinky Domina <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Dolyn Pozo <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Boby Roby <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
            .tabs-wrapper
                .top-row.d-flex.align-center.justify-between
                    .h4.font-600 Premium Dating AD <span class="grey">346,702 members</span>
                    ul.tab-list.d-flex
                        li.active Online
                        li All
                .tab-content.active
                    .models-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Alex Razersection <sup class="status offline"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Kinky Domina <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Dolyn Pozo <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#" alt="")
                                img(src='img/photos/photo-2.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Boby Roby <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                .tab-content
                    .models-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Alex Razersection <sup class="status offline"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Kinky Domina <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Dolyn Pozo <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg' alt="")
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Boby Roby <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
            .tabs-wrapper
                .top-row.d-flex.align-center.justify-between
                    .h4.font-600 Online Members <span class="grey">346,702 members</span>
                    ul.tab-list.d-flex
                        li.active Male
                        li Female
                        li Shemale
                        li All
                .tab-content.active
                    .models-circle-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Silvermaxxx <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Miss Guilty <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Deltatron 89 <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#" alt="")
                                img(src='img/photos/photo-5.jpg')
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                .tab-content
                    .models-circle-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Silvermaxxx <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Miss Guilty <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Deltatron 89 <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                .tab-content
                    .models-circle-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Silvermaxxx <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Miss Guilty <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Deltatron 89 <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#" )
                                img(src='img/photos/photo-3.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                .tab-content
                    .models-circle-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Silvermaxxx <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Miss Guilty <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Deltatron 89 <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United State
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg' alt="")
                                .models-slider__item__body
                                    .models-slider__item__data
                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                        .type.grey Transsexual (pre-op)
                                        .location <span class="icon-pin"></span> United States
            .tabs-wrapper
                .top-row.d-flex.align-center.justify-between
                    .h4.font-600 Top Rated Photos <span class="grey">346,702 photos</span>
                    ul.tab-list.d-flex
                        li.active Top Trans
                        li Top Men
                        li All
                .tab-content.active
                    .models-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">1</span> Simran Bose<sup class="status online"></sup>
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">4.89</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">2</span> Boby Roby<sup class="status online"></sup>
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">3.75</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">3</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">4</span> Kinky Domina<sup class="status online"></sup>
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">5.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">5</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">6</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">7</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
                .tab-content
                    .models-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">1</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">3.69</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">2</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">4.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">3</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">4</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">7.12</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">5</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">4.59</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                        span.icon-webcam.violet-light
                                        span.icon-check_in_circle.green
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">6</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
                .tab-content
                    .models-slider
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-1.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">1</span> Simran Bose
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">4.89</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">2</span> Boby Roby
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">3.75</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-3.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">3</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-4.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">4</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">5.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-5.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">5</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">6</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
                        .models-slider__item
                            a.models-slider__item__content(href="#")
                                img(src='img/photos/photo-2.jpg')
                                .models-slider__item__body
                                    .top-label.d-flex
                                    .models-slider__item__data
                                        .name.d-flex <span class="slide-count">7</span> Kinky Domina
                                        .model-raiting.d-flex.align-center.grey Raiting <span class="raiting-content">2.09</span>
        include ../includes/rightSidebar.pug
    .container
        .tabs-wrapper
            .top-row.d-flex.align-center.justify-between
                .h4.font-600 Transgender News <span class="grey">458 posts</span>
                ul.tab-list.d-flex
                    li.active Newest
                    li Top Rated
                    li All
            .tab-content.active
                .news-slider
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_2.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Mama Gloria' celebrates a Black transgender elder'
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum.hands of police
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum. Aenean condimentum co - UN News
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum. Aenean condimentum
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum. Aenean condimentum
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
            .tab-content
                .news-slider
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_4.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_3.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Mama Gloria' celebrates a Black transgender elder'
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_2.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum.hands of police
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum. Aenean condimentum co - UN News
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum. Aenean condimentum
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum. Aenean condimentum
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
            .tab-content
                .news-slider
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_2.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_4.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Mama Gloria' celebrates a Black transgender elder'
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum.hands of police
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum. Aenean condimentum co - UN News
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum. Aenean condimentum
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">
                    .news-slider__item
                        a(href="#").news-slider__item__content
                            img(src='img/photos/news_1.jpg')
                            .news-slider__item__body
                                .news__date.grey 20 Oct, 2020
                                .news__title Fusce elementum ligula et mollis ndum. Aenean condimentum
                                .news__descr.
                                    Fusce elementum ligula et mollis
                                    ndum. Aenean condimentum, tortor
                                    facilisis blandit, risus diam consequat
                                    ipsum, vel dignissim purus er justo.
                                .author.d-flex.align-center
                                    img(src='img/icons/avatar.png')
                                    span.author__name Roberto Cavally
                                span.more-link Read More <span class="icon-arrow_down">

#dark-overlay
.warn-block.text-center
    .h3.font-700.text-uppercase.mb-4 ADULTS ONLY!
    p.font-500.mb-3.
        This website contains nudity, explicit sexual content and adult language.
        It should be accessed only by people who are of legal age in the physical location from where you are accessing the site.
        By accessing this website, you are representing to us that you are of legal age and agree to our <a href="#" class="link pink">Terms & Conditions</a>.
        Any unauthorized use of this site may violate state, federal and/or foreign law.
        This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies.
    .h4.font-700.text-uppercase.mb-5 ARE YOU 18 YEARS OLD OR OLDER?
    .btn-container.d-flex.justify-center
        a.btn.btn--red-gradient.btn--lg.close-modal(href="#") Yes, Enter
        a.btn.btn--reset(href="#") No, Leave
