.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                .profile-content__body.w-100
                    .contact-us
                        .h3.font-700.mb-2 Contact Us
                        p.mb-3.
                            <b>TSDMedia OÜ</b><br />
                            <b>Address:</b> Narva mnt 5, 10117 Tallinn, Estonia<br />
                            <b>Reg No:</b> 14381980
                        .h4.font-700.mb-2 Custmer Service Contacts
                        p.font-500.mb-1.
                            <span class="grey">E-mail:</span> <a href="mailto:info@ts-dating.com" class="pink link">info@ts-dating.com</a>
                        p.font-500.mb-1.
                            <span class="grey">Skype:</span> <a href="#" class="black">live:yksiksyda</a>
                        p.font-500.mb-1.
                            <span class="grey">Phone:</span> <a href="tel:+37256886126" class="black">+372 56 886 126</a>
                        p.font-500.mb-1.
                            <span class="grey">Whatsapp:</span> <a href="tel:+37256886126" class="black">+372 56 886 126 <span class="icon-viber green"></span></a>
                        p.font-500.mb-1.
                            <span class="grey">KIK:</span> <a href="#">estoniaguy</a>
                        p.font-500.mb-4.
                            <span class="grey">Facebook:</span> <a href="http://www.facebook.com/datingts" class="pink link">http://www.facebook.com/datingts</a>
                        .h3.font-700.mb-1 Cancel Subscription
                        p.font-500.mb-3 Please contact billing support if you which to <a href="#" class="pink link">CANCEL YOUR SUBSCRIPTION</a>
                    .faq-block
                        .h2.font-700.mb-2 Frequently Asked Questions
                        .faq-item
                            .faq-title Please explain what is transgender, transsexual, shemale, pre-op ts, post-op, crossdresser, transvestite or ladyboy?
                            .faq-content If you are not familiar with those terms, please visit our transgender termnology page.
                        .faq-item
                            .faq-title What is a TS-Dating.com premium membership ?
                            .faq-content.
                                When You order a Premium Membership, you can use all features in ts-dating.com site unlimited and You will support and help this site to grow and become even better.
                                Premium membership will give you following privileges:
                                <ul>
                                    <li>- send unlimited messages to other users</li>
                                    <li>- Premium Dating Ads and Premium escorts are displayed before others(You will be noticed better)</li>
                                    <li>- see who have rated your photos</li>
                                    <li>- read escort reviews</li>
                                    <li>- watch shemale escorts personal videos</li>
                                    <li>- watch extra Shemale porno movies(updated weekly)</li>
                                </ul>
                        .faq-item
                            .faq-title How to join TS-Dating.com and is it a Free site?
                            .faq-content.
                                TS-Dating.com is a FREE transgender dating community, however we recommend you to become Premium Member for a very small fee and support this site. Click JOIN NOW! Link above the main menu to join.
                                Choose number 1 option to join if you are not offering Escort service.
                                If you are a Shemale Escort, then choose option nr 2.
                        .faq-item
                            .faq-title Why is my account blocked?
                            .faq-content.
                                There are 3 main reasons why your account is blocked:
                                <ol>
                                    <li>1. You have more than one profile in ts-dating.com ,which is not allowed.</li>
                                    <li>2. You uploaded a photo that didn’t match photo rules. When you are logged in, click on My Photos and read the photo rules.</li>
                                    <li>3. You have behaved badly on site or sent spam messages to other users.</li>
                                </ol>
                                If any of those reasons did not apply, then ask <a href="#">info@ts-dating.com</a>
                        .faq-item
                            .faq-title What kind of photos can I upload?
                            .faq-content.
                                Upload photos of YOURSELF only or where you are together with friends.
                                Do NOT upload cartoons, animations, drawings, fake photos or copyrighted photos. This is a dating website!
                                Adult/XXX photos are allowed, however close-up photos from single body parts are not allowed. Adult photos can not participiate on Photo Rating.
                                NB! Shemale Escorts are required to upload at least one photo where their face is clearly shown
                        .faq-item
                            .faq-title Do I have to upload photos?
                            .faq-content.
                                No, if you are not escort, you do not need to upload photos. However if you upload a photo of yourself, you will get noticed better by other members and be more popular.
                        .faq-item
                            .faq-title How can I delete my account?
                            .faq-content.
                                Log in to ts-dating.com, Click on Account Settingson left menu. On Account Settings page, click DELETE MY ACCOUNT button. Your account will be removed after that.
                        .faq-item
                            .faq-title Why my photo does not appear in Rating Toplist?
                            .faq-content.
                                You need to collect at least 20 votes from other members and have rating high enough to appear in toplist.
                        .faq-item
                            .faq-title How can I disable photo rating?
                            .faq-content.
                                You can disable photo rating on My Photos page (same page where you uploaded your photos).
                        .faq-item
                            .faq-title Some people rate my photo badly over and over, what should i do?
                            .faq-content.
                                If some person rates you badly over and over, you can block him/her.
                        .faq-item
                            .faq-title How can I block other member?
                            .faq-content.
                                Open up a member profile that you like to block. Click on red block icon on top of member profile. You will be directed to your Blocked Members page. On that page you can see all members who you have blocked. Those members can not rate you badly or send you messages in ts-dating.com.
                        .faq-item
                            .faq-title How can I advertise in ts-dating.com ?
                            .faq-content.
                                Click <a href="#">HERE</a> to visit advertising info page.

        include ../includes/rightSidebar.pug
