.footer
    .footer__top
        .container.d-flex.justify-between
            .footer__top__left
                .footer__top__left__title <span class='pink'>Shemale Escorts -</span> TS <br> Escorts & Dating <span class="pink">.</span>
                p.
                    TS-Dating is the premier worldwide shemale escort
                    site which specifically caters to TS Escorts,
                    transsexuals, shemales, transvestites, crossdressers,
                    ladyboys, ts massage and their
                    admirers.
                a.more-link(href='#') Read More <span class="icon-arrow_down">
            .footer__top__right
                .footer__top__right__item.d-flex.align-center <span class="icon-user_group"></span> Total members: <b>85,834</b>
                .footer__top__right__item.d-flex.align-center <span class="icon-female_icon"></span> Escorts: <b>5,687</b>
                .footer__top__right__item.d-flex.align-center <span class="icon-heart_plus"></span> Dating ads: <b>78,675</b>
                .footer__top__right__item.d-flex.align-center <span class="icon-user_online"></span> Members online: <b>287</b>
    .footer__banner.text-center
        a(href="#").footer__banner__wrapper
            .adv-title Advertisement
            img(src='img/photos/footer_banner.jpg')
    .footer__main
        .container.d-flex
            .footer__item
                a.logo: img(src='img/logo.svg')
                p.copyright TS-dating.com © 2004 - 2020
                p.copyright-text.
                    TS-Dating is the premier worldwide transsexual dating site which
                    specifically caters to transsexuals, shemales, transvestites, crossdressers,
                    ladyboys and their admirers who are candidly looking for love and
                    romance.
                ul.social.d-flex.align-center
                    li: a(href='#'): span.icon-fb
                    li: a(href='#'): span.icon-twitter
                    li: a(href='#'): span.icon-viber
                p.copyright-bottom 18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement
            .footer__item.footer__item--menu
                .footer__item__title Account & Services
                ul.footer-menu
                    li
                        a(href='#') Contact Us
                    li
                        a(href='#') Terms & Conditions
                    li
                        a(href='#') Privacy Policy
                    li
                        a(href='#') Refund Policy
                    li
                        a(href='#') Billing Support
                    li
                        a(href='#') Cancel Subscription
                    li
                        a(href='#') Report Trafficking
                    li
                        a(href='#') Disable Adult Content
                    li
                        a(href='#') Sitemap
            .footer__item.footer__item--menu
                .footer__item__title Our Sites
                ul.footer-menu
                    li
                        a(href='#') Escort Paris - Niamodel
                    li
                        a(href='#') LondonTS - London Transsexual Escorts
                    li
                        a(href='#') Travestis RJ Rio de Janeiro - RioRelax.com.br
                    li
                        a(href='#') Travestis SP - Bonecas Relax
                    li
                        a(href='#') Forum Travesti Brazil
                    li
                        a(href='#') Apatments for Escorts - Luvrentals
                    li
                        a(href='#') Transex Info - Shemale Travelguide




include ./footer-modals.pug
script(src="https://code.jquery.com/jquery-3.5.1.min.js")
script(src="libs/slick/slick.min.js")
script(src="js/common.js")
