.modal#forgot-pass-modal
    .modal-content.text-center
        .logo: img(src='img/icons/logo.svg')
        .h2.font-600.text-center.white.mb-4.text-uppercase FORGOT PASSWORD?
        p.text-center.white.mb-2
            If you have accidentally forgot your password or username then <br>
            enter you e-mail address and we will send you reminder.
        p.text-center.white.font-700.mb-3.
            NB! Don't show your password to anybody.
        form(action="#")
            .input-wrapper
                input.input(type="email" placeholder="Enter your e-mail")
            input(type="submit" value="Send").btn.btn--red-gradient.btn--full-width.btn--lg.mt-1
#overlay
