.header
    .container.d-flex.justify-between
        .mobile-btn
            span
            span
            span
        a.logo
            img(src='img/icons/logo.svg')
        .header__main.d-flex.align-center.justify-between
            .header__center.d-flex
                ul.menu.d-flex
                    li
                        a(href='#') SHEMALE ESCORTS
                            span.icon-arrow_down
                        ul.submenu
                            li
                                a(href='#') SHEMALE ESCORTS
                                    span.icon-arrow_right
                                ul.submenu
                                    li: a(href='#') SHEMALE DOMINATRIX
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') Feminization
                            li: a(href='#') ESCORTS ON WEBCAM
                            li
                                a(href='#') Search Escorts
                                    span.icon-arrow_right
                                ul.submenu
                                    li: a(href='#') SHEMALE DOMINATRIX
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') APARTMENTS
                                    li: a(href='#') Newest Escorts
                            li: a(href='#') Newest Escorts
                            li: a(href='#') APARTMENTS
                            li: a(href='#') Escort Reviews
                    li
                        a(href='#') DATING ADS
                            span.icon-arrow_down
                        ul.submenu
                            li
                                a(href='#') SHEMALE ESCORTS
                                    span.icon-arrow_right
                                ul.submenu
                                    li: a(href='#') SHEMALE DOMINATRIX
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') Feminization
                            li: a(href='#') ESCORTS ON WEBCAM
                            li
                                a(href='#') Search Escorts
                                    span.icon-arrow_right
                                ul.submenu
                                    li: a(href='#') SHEMALE DOMINATRIX
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') APARTMENTS
                                    li: a(href='#') Newest Escorts
                            li: a(href='#') Newest Escorts
                            li: a(href='#') APARTMENTS
                            li: a(href='#') Escort Reviews
                    li
                        a(href='#') VIDEOS
                            span.icon-arrow_down
                        ul.submenu
                            li
                                a(href='#') SHEMALE ESCORTS
                                    span.icon-arrow_right
                                ul.submenu
                                    li: a(href='#') SHEMALE DOMINATRIX
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') Feminization
                            li: a(href='#') ESCORTS ON WEBCAM
                            li
                                a(href='#') Search Escorts
                                    span.icon-arrow_right
                                ul.submenu
                                    li: a(href='#') SHEMALE DOMINATRIX
                                    li: a(href='#') Fetish Shemales
                    li
                        a(href='#') MEMBERS
                            span.icon-arrow_down
                        ul.submenu
                            li
                                a(href='#') Search Escorts
                                    span.icon-arrow_right
                                ul.submenu
                                    li: a(href='#') SHEMALE DOMINATRIX
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') APARTMENTS
                                    li: a(href='#') Newest Escorts
                            li: a(href='#') Newest Escorts
                            li: a(href='#') APARTMENTS
                            li: a(href='#') Escort Reviews
                    li
                        a(href='#') PHOTO RATE
                            span.icon-arrow_down
                        ul.submenu
                            li: a(href='#') Newest Escorts
                            li: a(href='#') APARTMENTS
                            li: a(href='#') Escort Reviews
                    li
                        a(href='#') VARIOUS
                            span.icon-arrow_down
                        ul.submenu
                            li
                                a(href='#') SHEMALE ESCORTS
                                    span.icon-arrow_right
                                ul.submenu
                                    li: a(href='#') SHEMALE DOMINATRIX
                                    li: a(href='#') Fetish Shemales
                                    li: a(href='#') Feminization
                            li: a(href='#') ESCORTS ON WEBCAM
                .search-top.d-flex.align-center
                    .search-btn
                        span.icon-search
                    .search-form
                        form
                            .search-form__content
                                input(type='search' placeholder='Search...').search-input
                                button(type='submit').search-submit
                                    span.icon-search
            .header__right.d-flex.align-center
                ul.social.d-flex.align-center
                    li: a(href='#'): span.icon-fb
                    li: a(href='#'): span.icon-twitter
                    li: a(href='#'): span.icon-viber
                .lang
                    .select
                        span.placeholder
                            img(src='img/flags/usa.svg')
                            span.icon-arrow_down
                        ul
                            li(data-value='fr')
                                img(src='img/flags/usa.svg')
                            li(data-value='fr')
                                img(src='img/flags/france.svg')
                            li(data-value='gr')
                                img(src='img/flags/germany.svg')
                            li(data-value='it')
                                img(src='img/flags/italy.svg')
                                img(src='img/flags/italy.svg')
                            li(data-value='ru')
                                img(src='img/flags/ru.svg')
                            li(data-value='sp')
                                img(src='img/flags/spain.svg')
                //.header__btns.d-flex.align-center
                //    a.btn.btn--violet(href='#'): span Login
                //    a.btn.btn--pink(href='#'): span Sign Up
                .user-authorized
                    .user-authorized__top.d-flex.align-center
                        img(src='img/icons/avatar.png').avatar
                        span.name.d-flex.align-center Alex Razersection
                            span.icon-arrow_down
                    ul.user-authorized__list
                        li
                            a(href='#').d-flex.align-center.justify-between.violet-light
                                span.user-authorized__list__title
                                    span.icon-payments
                                    span.text Payments
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-message
                                    span.text Messages
                                span.count  4
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-data
                                    span.text My Escort Data
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-photos
                                    span.text My Photos
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-videos
                                    span.text My Videos
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-statistic
                                    span.text Statistics
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-friends
                                    span.text My Friends
                                span.count  43
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-help
                                    span.text Ask Help
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-setings
                                    span.text Account Settings
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-blocked
                                    span.text Blocked members
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-invite
                                    span.text Invite New Members
                        li
                            a(href='#').d-flex.align-center.justify-between
                                span.user-authorized__list__title.d-flex.align-center
                                    span.icon-logout
                                    span.text Log Out

        .header__mobile__item.d-flex.align-center
            .user-authorized.user-authorized--mobile
                .user-authorized__top.d-flex.align-center
                    span.icon-user
                    span.icon-arrow_down
                ul.user-authorized__list
                    li.user-name.d-flex.align-center
                        img(src='img/icons/avatar.png').avatar
                        span.name.d-flex.align-center Alex Razersection
                    li
                        a(href='#').d-flex.align-center.justify-between.violet-light
                            span.user-authorized__list__title
                                span.icon-payments
                                span.text Payments
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-message
                                span.text Messages
                            span.count  4
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-data
                                span.text My Escort Data
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-photos
                                span.text My Photos
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-videos
                                span.text My Videos
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-statistic
                                span.text Statistics
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-friends
                                span.text My Friends
                            span.count  43
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-help
                                span.text Ask Help
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-setings
                                span.text Account Settings
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-blocked
                                span.text Blocked members
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-invite
                                span.text Invite New Members
                    li
                        a(href='#').d-flex.align-center.justify-between
                            span.user-authorized__list__title.d-flex.align-center
                                span.icon-logout
                                span.text Log Out
            .search-top.search-top--mobile.d-flex.align-center
                .search-btn
                    span.icon-search
                .search-form
                    form
                        .search-form__content
                            input(type='search' placeholder='Search...').search-input
                            button(type='submit').search-submit


