.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                .profile-content__body.w-100
                    .text-block
                        h2: b Link To Us
                        p.
                            <b>Dear visitor</b><br>
                            We invite You to support our FREE tranny dating community by adding our banner to Your webpage(in case You have one).
                        p.
                            Easiest way to add our banner, is to copy following text from textbox below to Your webpage.
                            You can also add our banner manually by saving this banner image and then including it to your page.
                        p <b>Copy</b> this code to your <b>Blog Page</b>, <a href="#"><b>Onlyfans</b></a> profile, <a href="#"><b>hi5.com</b></a> profile, or to your personal homepage:
                        .link-area.mb-2
                            code.mb-1.
                                &lt;a href="https://www.ts-dating.com"&gt;&lt;img src="https://www.ts-dating.com/images/banners/TSdating-468x60.gif" width="468" height="60" border="0"&gt;&lt;/a&gt;
                        p.
                            <a href="https://www.ts-dating.com"><img src="https://www.ts-dating.com/images/banners/TSdating-468x60.gif" width="468" height="60"
                            border="0" ></a>
                        p <b>Copy</b> this code to your website or any social netowking profile u have, <a href="#"><b>Facebook</b></a> profile, <a href="#"><b>myspace.com </b></a> profile, or to your personal homepage:
                            .link-area.mb-2
                                code.mb-1.
                                    &lt;a href="https://www.ts-dating.com"&gt;&lt;img src="https://www.ts-dating.com/images/315x300_tube8.gif" width="468" height="60" border="0"&gt;&lt;/a&gt;
                            p.
                                <a href="https://www.ts-dating.com"><img src="https://www.ts-dating.com/images/315x300_tube8.gif" width="315" height="300"
                                border="0" /></a>
                        h3 Your Personalized Escort Banner
                        p.
                            PROMOTE YOURSELF and put this banner as many websites, blogs and forums as possible!
                            You need to have 3 TALL photos in your profile for this banner to appear.
                        .iframe-wrapper.
                            <div align="center"><iframe src="http://www.ts-dating.com/escbanneriframe.php?usrname=testescort2" width="562" height="82" frameborder="0"
                            scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        p <b>Banner Code:</b> (copy this code to forums, blogs, personal website, facebook)
                        .link-area.mb-2
                            code.mb-1.
                                &lt;div align="center"&gt;&lt;iframe src="http://www.ts-dating.com/escbanneriframe.php?usrname=testescort2" width="562" height="82" frameborder="0"
                                scrolling="no" marginheight="0" marginwidth="0"&gt;&lt;/iframe>&lt;/div&gt;

        include ../includes/rightSidebar.pug
