.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                include ../includes/profile-left-sidebar
                .profile-content__body
                    .h3.mb-2
                        b My Friends
                    .h4.mb-3.font-700 Pending Friend Request
                    .h4.mb-2: b Help Request
                    .btns-group.d-flex.flex-wrap.mb-3
                        a.btn.btn--violet.btn--small(href="#") Approve All Requests
                        a.btn.btn--violet.btn--small(href="#") Deny All Requests
                    .models-card.models-card--circle.models-card--row.grey-light-bg.mb-4.mt-4
                        .models-card__img
                            img(src='img/photos/photo-1.jpg')
                        .models-card__body
                            .models-card__data
                                .name.pink.mb-1 Simran Bose
                                .models-card__data__item
                                    .font-600.mb-1 Sent you a friend request. Would you like to become friends with him/her?
                                    .btns-group.d-flex
                                        a.btn.btn--small.btn--violet(href="#") Yes
                                        a.btn.btn--small.btn--violet(href="#") No
                    .models-card.models-card--circle.models-card--row.grey-light-bg.mb-4.mt-4
                        .models-card__img
                            img(src='img/photos/photo-1.jpg')
                        .models-card__body
                            .models-card__data
                                .name.pink.mb-1 Simran Bose
                                .models-card__data__item
                                    .font-600.mb-1 Sent you a friend request. Would you like to become friends with him/her?
                                    .btns-group.d-flex
                                        a.btn.btn--small.btn--violet(href="#") Yes
                                        a.btn.btn--small.btn--violet(href="#") No
                    .models-card.models-card--circle.models-card--row.grey-light-bg.mb-4.mt-4
                        .models-card__img
                            img(src='img/photos/empty-photo.svg')
                        .models-card__body
                            .models-card__data
                                .name.pink.mb-1 Simran Bose
                                .models-card__data__item
                                    .font-600.mb-1 Sent you a friend request. Would you like to become friends with him/her?
                                    .btns-group.d-flex
                                        a.btn.btn--small.btn--violet(href="#") Yes
                                        a.btn.btn--small.btn--violet(href="#") No
                    .tabs-wrapper
                        .top-row.top-row--lg.d-flex.align-center.justify-between.mb-3
                            .top-row__left.d-flex.align-center
                                .h4.font-600 Country:
                                .input-wrapper
                                    select.select-input
                                        option All Countries
                                        option USA
                                        option Canada
                                        option France
                            ul.tab-list.d-flex
                                li.active All
                                li New Friends
                                li Online Friends
                        .tab-content.active
                            .models-circle-slider.models-circle-slider--four-items
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-1.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Silvermaxxx <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United State
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-3.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United States
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-1.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Miss Guilty <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United State
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-4.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Deltatron 89 <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United States
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#" alt="")
                                        img(src='img/photos/photo-5.jpg')
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United State
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-3.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United States
                                                a.btn.btn--small.btn--violet.mt-1(href="#") Delete
                        .tab-content
                            .models-circle-slider.models-circle-slider--four-items
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-5.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Silvermaxxx <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United State
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-2.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United States
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-3.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Miss Guilty <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United State
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-4.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Deltatron 89 <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United States
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-5.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United State
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-3.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United States
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                        .tab-content
                            .models-circle-slider.models-circle-slider--four-items
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-5.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Silvermaxxx <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United State
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-4.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United States
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-2.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Miss Guilty <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United State
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-1.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Deltatron 89 <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United States
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#")
                                        img(src='img/photos/photo-5.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United State
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
                                .models-slider__item
                                    a.models-slider__item__content(href="#" )
                                        img(src='img/photos/photo-3.jpg' alt="")
                                        .models-slider__item__body
                                            .models-slider__item__data
                                                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                .type.grey Transsexual (pre-op)
                                                .location <span class="icon-pin"></span> United States
                                                button.btn.btn--small.btn--violet.mt-1(type="button") Delete
        include ../includes/rightSidebar.pug
