.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                include ../includes/profile-left-sidebar
                .profile-content__body
                    .h3
                        b Statistics
                    .tabs-wrapper
                        .top-row
                            ul.tab-list.tab-list--grey-bg.d-flex
                                li.active MY PROFILE VIEWS
                                li RATINGS IN
                                li RATINGS OUT
                        .tab-content.active
                            p.mb-1.font-500 Members who recently have visited your profile
                            p.font-500 <span class="grey">Total profile views:</span> 469  | <a href="#" class="link pink"> Search members ?</a>
                            table.statistic-table.mt-3
                                thead
                                    tr
                                     td Visitor
                                     td Country
                                     td Age
                                     td Viewed
                                     td Status
                                tbody
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink Alfthegreek
                                                .black Male
                                        td(data-title="Country")
                                            .td-content Austria
                                        td(data-title="Age")
                                            .td-content 34
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.online
                                                span.icon-photos.grey
                                                span.icon-star_full.yellow
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink Ragnar Lodbrock
                                                .black Male
                                        td(data-title="Country")
                                            .td-content France
                                        td(data-title="Age")
                                            .td-content 18
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.icon-photos.grey
                                                span.icon-star_full.yellow
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink Alfthegreek
                                                .black Male
                                        td(data-title="Country")
                                            .td-content Austria
                                        td(data-title="Age")
                                            .td-content 34
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.icon-star_full.yellow
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink Ragnar Lodbrock
                                                .black Male
                                        td(data-title="Country")
                                            .td-content France
                                        td(data-title="Age")
                                            .td-content 18
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.online
                                                span.icon-star_full.yellow
                        .tab-content
                            p.mb-1.font-500 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, illo.
                            p.font-500 <span class="grey">Total profile views:</span> 469  | <a href="#" class="link pink"> Search members ?</a>
                            table.statistic-table.mt-3
                                thead
                                    tr
                                        td Visitor
                                        td Country
                                        td Age
                                        td Viewed
                                        td Status
                                tbody
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink Max
                                                .black Male
                                        td(data-title="Country")
                                            .td-content Austria
                                        td(data-title="Age")
                                            .td-content 45
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.online
                                                span.icon-star_full.yellow
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink John Doe
                                                .black Female
                                        td(data-title="Country")
                                            .td-content France
                                        td(data-title="Age")
                                            .td-content 18
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.online
                                                span.icon-photos.grey
                                                span.icon-star_full.yellow
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink Alfthegreek
                                                .black Male
                                        td(data-title="Country")
                                            .td-content Austria
                                        td(data-title="Age")
                                            .td-content 34
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.online
                                                span.icon-star_full.yellow
                        .tab-content
                            p.mb-1.font-500 Raiting Out
                            p.font-500 <span class="grey">Total profile views:</span> 469  | <a href="#" class="link pink"> Search members ?</a>
                            table.statistic-table.mt-3
                                thead
                                    tr
                                        td Visitor
                                        td Country
                                        td Age
                                        td Viewed
                                        td Status
                                tbody
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink Jeniston
                                                .black Male
                                        td(data-title="Country")
                                            .td-content Austria
                                        td(data-title="Age")
                                            .td-content 50
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.online
                                                span.icon-photos.grey
                                                span.icon-star_full.yellow
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink Michel
                                                .black Female
                                        td(data-title="Country")
                                            .td-content France
                                        td(data-title="Age")
                                            .td-content 23
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.online
                                                span.icon-photos.grey
                                                span.icon-star_full.yellow
                                    tr
                                        td(data-title="Visitor")
                                            .td-content
                                                .pink Alfthegreek
                                                .black Male
                                        td(data-title="Country")
                                            .td-content Austria
                                        td(data-title="Age")
                                            .td-content 34
                                        td(data-title="Viewed")
                                            .td-content 16:57 15-Feb-2021
                                        td(data-title="Status")
                                            .td-content
                                                span.online
        include ../includes/rightSidebar.pug
