.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                include ../includes/profile-left-sidebar
                .profile-content__body
                    .h3
                        b Blocked Members
                    p.font-500.
                        Here you can see members that You have blocked. Here You can also Un-block members if you feel like it.
                    p.font-500.
                        Blocked members can not send you any messages in ts-dating.com nor rate your photo. Also you can't write
                        messages to blocked members listed on this page and rate their photo.
                    .moddels-list.d-flex.flex-wrap
                        .models-card.models-card--circle
                            .models-card__img
                                img(src='img/photos/photo-3.jpg')
                            .models-card__body
                                .models-card__data
                                    .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                    .type.grey Transsexual (pre-op)
                                    .location <span class="icon-pin"></span> United States
                                    a.btn.btn--violet.btn--small(href="#") Un-block
                        .models-card.models-card--circle
                            .models-card__img
                                img(src='img/photos/photo-4.jpg')
                            .models-card__body
                                .models-card__data
                                    .name.d-flex <span class="icon-star_full yellow"></span> Silvermaxxx <sup class="status online"></sup>
                                    .type.grey Transsexual (pre-op)
                                    .location <span class="icon-pin"></span> United States
                                    a.btn.btn--violet.btn--small(href="#") Un-block
                        .models-card.models-card--circle
                            .models-card__img
                                img(src='img/photos/photo-5.jpg')
                            .models-card__body
                                .models-card__data
                                    .name.d-flex <span class="icon-star_full yellow"></span> Miss Guilty
                                    .type.grey Transsexual (pre-op)
                                    .location <span class="icon-pin"></span> United States
                                    a.btn.btn--violet.btn--small(href="#") Un-block
                        .models-card.models-card--circle
                            .models-card__img
                                img(src='img/photos/photo-1.jpg')
                            .models-card__body
                                .models-card__data
                                    .name.d-flex <span class="icon-star_full yellow"></span> Alex Razersection <sup class="status online"></sup>
                                    .type.grey Transsexual (pre-op)
                                    .location <span class="icon-pin"></span> United States
                                    a.btn.btn--violet.btn--small(href="#") Un-block
                        .models-card.models-card--circle
                            .models-card__img
                                img(src='img/photos/news_1.jpg')
                            .models-card__body
                                .models-card__data
                                    .name.d-flex <span class="icon-star_full yellow"></span> Alex Razersection <sup class="status online"></sup>
                                    .type.grey Transsexual (pre-op)
                                    .location <span class="icon-pin"></span> United States
                                    a.btn.btn--violet.btn--small(href="#") Un-block

        include ../includes/rightSidebar.pug

