.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                include ../includes/profile-left-sidebar
                .profile-content__body
                    .h3
                        b Order Premium Membership
                    p.font-500.
                        Premium membership gives you the oppurtunity to use all site features unlimited. With premium membership
                        you gain access to:
                    ul.order-list
                        li Your Escort or Dating AD is listed before free members and also you will appear on first page
                        li Protect yourself of getting bad photo ratings
                        li Send unlimited messages to other users
                        li See who rated your photos
                        li Browse local members, find members near you
                    .notice-block.grey-light-bg
                        .h3
                            b <span class="violet-light">Price only: 1 Month</span> - €19.95<span class="violet-light">(eur)</span>
                        p.text--smal.
                            <b>No automatic renewal</b><br>
                            meaning that after your premium membership expires your card will not be charged again automatically.
                    .pay-by-card
                        .h4.font-700 Pay by Credit Card
                        a.btn.btn--extra-lg.btn--red-gradient Pay With Credit Or Debit Card
                    .support-block
                        .h4.font-700 Customer Support
                        ul.list.font-600
                            li
                                span.grey Contact:
                                a(href='mailto:sales@ts-dating.com') sales@ts-dating.com
                            li
                                span.grey Phone/Whatsap:
                                a(href='tel:+5521991752320') +55 21 991 752 320
                            li
                                span.grey Skype:
                                a(href='skype:yksiksyda') live:yksiksyda



                    // for premium members
                    //.h3
                    //    b Premium Membership
                    //p.font-500.
                    //    Premium membership gives you the oppurtunity to use all site features unlimited. With premium membership
                    //    you gain access to:
                    //.end-date 12-may-2021
                    //.support-block
                    //    .h4.font-700 Customer Support
                    //    ul.list.font-600
                    //        li
                    //            span.grey Contact:
                    //            a(href='mailto:sales@ts-dating.com') sales@ts-dating.com
                    //        li
                    //            span.grey Phone/Whatsap:
                    //            a(href='tel:+5521991752320') +55 21 991 752 320
                    //        li
                    //            span.grey Skype:
                    //            a(href='skype:yksiksyda') live:yksiksyda



        include ../includes/rightSidebar.pug
