.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                include ../includes/profile-left-sidebar
                .profile-content__body
                    .h3
                        b Buy Top Escort AD
                    .text-banner.text-center.text-banner--small.mb-3
                        .h3.font-600 DISCOUNT CORONA
                        p.text--lg.
                            Because of Corona virus crisis - <span class="violet-light font-700">All Banners and TOP AD</span> prices now <span class="violet-light font-700">30% Discount!</span>
                    p.font-500.
                        <b>TOP ESCORT AD</b> is additional option for <b>Premium Members</b> to move their Escort Advertisement on top of
                        Premium Escorts for <b>24 hours.</b>
                    p.text-uppercase.mb-3
                        b STAY ON TOP OF PREMIUM ADS!
                    .notice-block.grey-light-bg
                        .h3.font-700 <span class="violet-light">7 EUR </span>- 1 day or 24h
                        p.text--small.
                            <b>No automatic renewal</b><br>
                            meaning that after your TOP ESCORT AD expires your card will not be charged again automatically.
                    a.btn.btn--red-gradient.btn--extra-lg.mb-5(href="#") Pay With Credit Card
                    p.mb-5
                        b After purchase, your credit card statement will say: CRD.LT/*TSD MEDIA
                    .img-wrapper
                        img(src="img/photos/screen.jpg").w-100


        include ../includes/rightSidebar.pug
