.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                include ../includes/profile-left-sidebar
                .profile-content__body
                    .h3
                        b Edit Profile
                    .text-banner.text-center.text-banner--small.mb-3
                        .h3.font-600 DISCOUNT CORONA
                        p.text--lg.
                            Because of Corona virus crisis - <span class="violet-light font-700">All Banners and TOP AD</span> prices now <span class="violet-light font-700">30% Discount!</span>
                    .tabs-wrapper
                        .top-row
                            ul.tab-list.tab-list--grey-bg.d-flex
                                li.active Basic Information
                                li Contact Data
                                li Additional Info
                                li My Travel Plan
                                li Preview Profile
                        .tab-content.active
                            p.mb-1.font-500.grey Username: <span class="pink">Simran Bose</span>
                            p.font-500.mb-1.grey Gender: <span class="black">Transsexual (Pre-op)</span>
                            form(action="#")
                                .input-wrapper.input-wrapper--extra-small
                                    span Age:
                                    select.select-input
                                        option 18
                                        option 19
                                        option 20
                                        option 21
                                        option 22
                                .input-wrapper
                                    span Name:
                                    input.input(type="text" value="Simran Bose")
                                .input-wrapper
                                    span Sexual orientation:
                                    select.select-input
                                        option Active & Passive
                                        option Active
                                        option Passive
                                        option Bi-Sexual
                                        option Trans
                                .input-wrapper
                                    span Country:
                                    select.select-input
                                        option Canada
                                        option Australia
                                        option USA
                                        option Mexico
                                .input-wrapper
                                    span City:
                                    input.input(type="text" value="Adas")
                                .input-wrapper
                                    span About me:
                                    textarea.input(value="Adas").
                                        Hello gentlemen,
                                        My name is Raica and I am the T-girl of your dreams...I have finally arrived to meet you...
                                        I am an international Transexual model and I am very fortunate to be doing what I love.
                                        I am visiting Your City for some fun . So far I am having the best time of my life! It would be great if you could join me..
                                        I spent the last couple of years travelling all over the world; it is my passion. I am a very adventorous girl. Indoors and outdoors.
                                        I am sweet and seductive and take great delight in my ability to thrill you with my sensuality and seductive smile. Romantic on one side but I can be very naughty too.
                                        My idea of a perfect evening it is a romantic dinner followed by naughty dessert full of fireworks..Wouldn't you agree?
                                        My goal is to make you think that spending time with me is one of life's pleasures. It is an indulgence, but worth every minute spent away from the pressure and stress of your everyday life.
                                        Classy flawless perfection and impeccable look will take you total awe of me at the first moment you lay eyes on me. I am a totally naturally beauty, very adorable and outgoing, who you will enchant the gentleman like never before... I will love to spend a lovely date accompanied with great sense of humor. For me deluxe diner is always accompanied by good mood and good wine...
                                        If you prefer the finer things in life and wish to share those moments, why not treat yourself to a romantic date in my company, leading a very healthy lifestyle and takes a great care of herself ...
                                        To make an appointment with me, simply call me (PLEASE DO NOT TEXT ME) and we will meet for an amazing fun together...
                                input.btn.btn--lg.btn--violet(type="submit" value="Update Profile")

                        .tab-content
                            form(action="#")
                                .input-wrapper
                                    span Phone:
                                    input.input(type="text" value="+8(525) 644-58-06")
                                .input-wrapper
                                    span Website:
                                    input.input(type="text" value="www.google.com")
                                .input-wrapper
                                    span Availability:
                                    select.select-input
                                        option Incall & Outcall
                                        option Outcall
                                        option USA
                                        option Mexico
                                .input-wrapper
                                    span Whatsapp:
                                    span.grey.text--small +8(525) 644-58-06
                                    input.input(type="text")
                                .input-wrapper
                                    span Facebook:
                                    span.grey.text--small https://www.facebook.com
                                    input.input(type="text")
                                .input-wrapper
                                    span Twitter:
                                    span.grey.text--small https://twitter.com
                                    input.input(type="text")
                                .input-wrapper
                                    span Instagram:
                                    span.grey.text--small https://www.instagram.com
                                    input.input(type="text")
                                input.btn.btn--lg.btn--violet(type="submit" value="Update Profile")
                        .tab-content
                            form(action="#")
                                .input-wrapper-row.d-flex.flex-wrap.three-columns
                                    .input-wrapper
                                        span Height:
                                        select.select-input
                                            option 122 cm (4'0")
                                            option 145 cm (4'5")
                                            option 177 cm (5'0")
                                    .input-wrapper
                                        span Ethnicity:
                                        select.select-input
                                            option Not Entered
                                            option Asia
                                            option Europe
                                .input-wrapper-row.d-flex.flex-wrap.three-columns
                                    .input-wrapper
                                        span Weight:
                                        select.select-input
                                            option Not Entered
                                            option 145 cm (4'5")
                                            option 177 cm (5'0")
                                    .input-wrapper
                                        span Penis Size:
                                        select.select-input
                                            option Not Entered
                                            option Asia
                                            option Europe
                                .input-wrapper-row.d-flex.flex-wrap.three-columns.mb-3
                                    span.w-100.mb-2 Languages:
                                    .checkbox
                                        input(type="checkbox" id="check1")
                                        label(for="check1")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text English
                                    .checkbox
                                        input(type="checkbox" id="check2")
                                        label(for="check2")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Spanish
                                    .checkbox
                                        input(type="checkbox" id="check3")
                                        label(for="check3")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Italian
                                    .checkbox
                                        input(type="checkbox" id="check4")
                                        label(for="check4")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text German
                                    .checkbox
                                        input(type="checkbox" id="check5")
                                        label(for="check5")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text French
                                    .checkbox
                                        input(type="checkbox" id="check6")
                                        label(for="check6")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Chinese
                                    .checkbox
                                        input(type="checkbox" id="check7")
                                        label(for="check7")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Russian
                                    .checkbox
                                        input(type="checkbox" id="check8")
                                        label(for="check8")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Portuguese
                                .input-wrapper-row.d-flex.flex-wrap.three-columns.mb-3
                                    span.w-100.mb-2 Services:
                                    .checkbox
                                        input(type="checkbox" id="check9")
                                        label(for="check9")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text BDSM
                                    .checkbox
                                        input(type="checkbox" id="check10")
                                        label(for="check10")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Golden Shower
                                    .checkbox
                                        input(type="checkbox" id="check11")
                                        label(for="check11")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Client Feminization
                                    .checkbox
                                        input(type="checkbox" id="check12")
                                        label(for="check12")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Sex Toys
                                    .checkbox
                                        input(type="checkbox" id="check13")
                                        label(for="check13")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text.violet-light.font-700 Webcam Show
                                    .checkbox
                                        input(type="checkbox" id="check14")
                                        label(for="check14")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Girlfriend
                                    .checkbox
                                        input(type="checkbox" id="check15")
                                        label(for="check15")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Fetish Clothes
                                    .checkbox
                                        input(type="checkbox" id="check16")
                                        label(for="check16")
                                            span.icon-check.checkbox__icon
                                            span.checkbox__text Gey
                                input.btn.btn--lg.btn--violet(type="submit" value="Update Profile")
                        .tab-content
                            .text-banner.text-banner--small.mb-3
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam beatae, dolores maiores natus necessitatibus obcaecati odit perferendis, quasi repellendus sapiente totam ut voluptatem. Ad aperiam asperiores facere officia quisquam? Ipsa iste itaque nulla odit. Incidunt quia saepe sed veniam!
                            form(action="#")
                                .input-wrapper-row.d-flex.flex-wrap.three-columns
                                    span.w-100.mb-1 From:
                                    .input-wrapper
                                        select.select-input
                                            option 12
                                            option 145 cm (4'5")
                                            option 177 cm (5'0")
                                    .input-wrapper
                                        select.select-input
                                            option November
                                            option December
                                            option Europe
                                    .input-wrapper
                                        select.select-input
                                            option 2021
                                            option 2020
                                            option 2019
                                .input-wrapper-row.d-flex.flex-wrap.three-columns
                                    span.w-100.mb-1 Until:
                                    .input-wrapper
                                        select.select-input
                                            option 15
                                            option 145 cm (4'5")
                                            option 177 cm (5'0")
                                    .input-wrapper
                                        select.select-input
                                            option November
                                            option December
                                            option Europe
                                    .input-wrapper
                                        select.select-input
                                            option 2021
                                            option 2020
                                            option 2019
                                .input-wrapper
                                    span Country:
                                    select.select-input
                                        option Canada
                                        option Australia
                                        option USA
                                        option Mexico
                                .input-wrapper
                                    span City:
                                    input.input(type="text" value="Adas")
                                input.btn.btn--lg.btn--violet(type="submit" value="Add Destination")
                        .tab-content
                            .h2.font-700.mt-1 Shemale Escort Simran Bose
                            ul.breadcrumbs.mb-3
                                li
                                    a(href="#") Shemale Escorts
                                li
                                    a(href="#") United Arab Emirates
                                li
                                    a(href="#") Dubai Shemales
                            .profile-item-block.d-flex.justify-between.flex-wrap
                                .h3.font-700.w-100.mb-1 Shemale Escort in DUBAI
                                .profile-item
                                    p.grey.mb-1.font-600 Membership: <span class="yellow text-uppercase">PReMIUM</span>
                                    p.grey.mb-1.font-600 Age: <span class="black">19 years old</span>
                                    p.grey.mb-1.font-600 Name: <span class="black">Simran Bose</span>
                                    p.grey.mb-1.font-600 Country: <span class="pink">UAE</span>
                                    p.grey.mb-1.font-600 City: <span class="black">DUBAI</span>
                                    p.grey.mb-1.font-600 Availability: <span class="black">Incall & Outcall</span>
                                    p.grey.mb-1.font-600 Orientation: <span class="black">Active & Passive</span>
                                .profile-item
                                    p.grey.font-600.mb-1 Phone:
                                    a.phone-lg.d-flex.align-center.font-700.h3.mb-1(href="#")
                                        span.icon-viber.green.mr-1
                                        span.phone-lg__content +8 (525) 644-58-06
                                    p.text--small.grey.mb-2 Please mention <a href="#" class="black link">TS-Dating.com</a> when contacting this escort!
                                    ul.social.d-flex.align-center.mb-2
                                        li: a(href='#'): span.icon-fb
                                        li: a(href='#'): span.icon-twitter
                                        li: a(href='#'): span.icon-viber
                                    a.btn.btn--violet.btn--lg(href="#") Visit My Site
                            .profile-item-block.d-flex.justify-between.flex-wrap
                                .h3.font-700.w-100.mb-1 Additional Info
                                .profile-item
                                    p.grey.mb-1.font-600 Height: <span class="black">165 cm (5'5'')</span>
                                    p.grey.mb-1.font-600 Weight: <span class="black">48 kg (106 lbs)</span>
                                    p.grey.mb-1.font-600.d-flex.align-center Languages: <span class="img-group d-flex align-center"><img src="img/flags/usa.svg" alt=""><img src="img/flags/france.svg" alt=""><img src="img/flags/germany.svg" alt=""></span>
                                .profile-item
                                    p.grey.mb-1.font-600 Penis Size: <span class="black">15 cm (5.9'')</span>
                                    p.grey.mb-1.font-600 Ethnicity: <span class="black">Other/Mixed</span>
                            p.grey.font-600.mb-3 Services: <a href="#" class="black">BDSM Dominatrix</a>, <a href="#" class="black">Girlfriend Experience</a>, <a href="#" class="black">Golden Shower</a>, <a href="#" class="black">Sex Toys</a>, <a href="#" class="black">Fetish Clothes</a>, <a href="#" class="black">Client Feminization</a>
                            .tabs-wrapper
                                .top-row
                                    ul.tab-list.tab-list--grey-bg.d-flex
                                        li.active About Me
                                        li Photos <span class="grey">74</span>
                                        li Videos <span class="grey">5</span>
                                        li Reviews <span class="grey">1</span>
                                        li Friends <span class="grey">12</span>
                                .tab-content.active
                                    form(action="#").mb-3
                                        .h3.font-700.mb-2 Send Message
                                        .input-wrapper
                                            span Subject:
                                            input.input(type="text")
                                        .input-wrapper.w-100
                                            span Message text:
                                            textarea.input
                                        input.btn.btn--violet.btn--lg(type="submit" value="Send Message")
                                    .h3.font-700.mb-2 About Me
                                    .text-block
                                        p.
                                            Hello gentlemen,<br>
                                            My name is Raica and I am the T-girl of your dreams...I have finally arrived to meet you..
                                        p.
                                            I am an international Transexual model and I am very fortunate to be doing what I love.
                                        p.
                                            I am visiting Your City for some fun . So far I am having the best time of my life! It would be great if you could join me.
                                        p.
                                            I spent the last couple of years travelling all over the world; it is my passion. I am a very adventorous girl. Indoors and outdoors.
                                        p.
                                            I am sweet and seductive and take great delight in my ability to thrill you with my sensuality and seductive smile. Romantic on one side but I can be very naughty too.
                                            My idea of a perfect evening it is a romantic dinner followed by naughty dessert full of fireworks..Wouldn't you agree?
                                        p.
                                            My goal is to make you think that spending time with me is one of life's pleasures. It is an indulgence, but worth every minute spent away from the pressure and stress of your everyday life.
                                    .text-banner.text-banner--small.mb-3
                                        p.
                                            <span class="grey">DISCLAIMER:</span><br> Money exchanged in legal adult personal services is for the privilege of beholding my beautiful presence in person only and is simply for the time expended in the delivery of lawful entertainment and companionship. Anything else that may or may not occur is a matter of personal preferences between two or more consenting adults of legal age , at their leisure, and is not contracted for, nor is it requested to be contracted for in any manner. This is not an offer of prostitution. Fees charges are for time spent only. By contacting me (by either phone or email), you agree to these terms and hereby agree that you are not part of any law agency using this advertisement for entrapment.

                                .tab-content
                                    .tabs-wrapper.mb-4
                                        .top-row.d-flex.align-center.justify-between
                                            .h4.font-600 Photos
                                            ul.tab-list.d-flex
                                                li.active Regular Photos <span class="grey">34</span
                                                li XXX-Adult Photos <span class="grey">58</span
                                        .tab-content.active
                                            .photos-block
                                                .photos-block__item
                                                    img(src="img/photos/photo-1.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-2.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-3.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-4.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-5.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-1.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-5.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-4.jpg" alt="")
                                        .tab-content
                                            .photos-block
                                                .photos-block__item
                                                    img(src="img/photos/photo-5.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-4.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-3.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-2.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-4.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-1.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-5.jpg" alt="")
                                                .photos-block__item
                                                    img(src="img/photos/photo-4.jpg" alt="")
                                .tab-content
                                    .h3.font-700.mb-2 Videos
                                    .video-block.mb-2
                                        .video-content
                                            img(src="img/photos/video-poster.jpg" alt="")
                                    .video-block.mb-2
                                        .video-content
                                            img(src="img/photos/video-poster.jpg" alt="")
                                    .video-block.mb-2
                                        .video-content
                                            img(src="img/photos/video-poster.jpg" alt="")
                                .tab-content Reviews
                                .tab-content
                                    .models-circle-slider.models-circle-slider--four-items.unslick.d-flex.flex-wrap
                                        .models-slider__item
                                            a.models-slider__item__content(href="#")
                                                img(src='img/photos/photo-5.jpg' alt="")
                                                .models-slider__item__body
                                                    .models-slider__item__data
                                                        .name.d-flex <span class="icon-star_full yellow"></span> Silvermaxxx <sup class="status online"></sup>
                                                        .type.grey Transsexual (pre-op)
                                                        .location <span class="icon-pin"></span> United State
                                        .models-slider__item
                                            a.models-slider__item__content(href="#")
                                                img(src='img/photos/photo-4.jpg' alt="")
                                                .models-slider__item__body
                                                    .models-slider__item__data
                                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                        .type.grey Transsexual (pre-op)
                                                        .location <span class="icon-pin"></span> United States
                                        .models-slider__item
                                            a.models-slider__item__content(href="#")
                                                img(src='img/photos/photo-2.jpg' alt="")
                                                .models-slider__item__body
                                                    .models-slider__item__data
                                                        .name.d-flex <span class="icon-star_full yellow"></span> Miss Guilty <sup class="status online"></sup>
                                                        .type.grey Transsexual (pre-op)
                                                        .location <span class="icon-pin"></span> United State
                                        .models-slider__item
                                            a.models-slider__item__content(href="#")
                                                img(src='img/photos/photo-1.jpg' alt="")
                                                .models-slider__item__body
                                                    .models-slider__item__data
                                                        .name.d-flex <span class="icon-star_full yellow"></span> Deltatron 89 <sup class="status online"></sup>
                                                        .type.grey Transsexual (pre-op)
                                                        .location <span class="icon-pin"></span> United States
                                        .models-slider__item
                                            a.models-slider__item__content(href="#")
                                                img(src='img/photos/photo-5.jpg' alt="")
                                                .models-slider__item__body
                                                    .models-slider__item__data
                                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                        .type.grey Transsexual (pre-op)
                                                        .location <span class="icon-pin"></span> United State
                                        .models-slider__item
                                            a.models-slider__item__content(href="#" )
                                                img(src='img/photos/photo-3.jpg' alt="")
                                                .models-slider__item__body
                                                    .models-slider__item__data
                                                        .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                                                        .type.grey Transsexual (pre-op)
                                                        .location <span class="icon-pin"></span> United States
        include ../includes/rightSidebar.pug
