ul.left-sidebar__menu
    li
        a(href="#").d-flex.align-center
            span.icon-payments
            span.menu__item__text Payments
    li
        a(href="#").d-flex.align-center
            span.icon-message
            span.menu__item__text Messages <span class="count">4</span>
    li
        a(href="#").d-flex.align-center.active
            span.icon-data
            span.menu__item__text My Escort Data
    li
        a(href="#").d-flex.align-center
            span.icon-photos
            span.menu__item__text My Photos
    li
        a(href="#").d-flex.align-center
            span.icon-videos
            span.menu__item__text My Videos
    li
        a(href="#").d-flex.align-center
            span.icon-statistic
            span.menu__item__text Statistics
    li
        a(href="#").d-flex.align-center
            span.icon-friends
            span.menu__item__text My Friends <span class="count">34</span>
    li
        a(href="#").d-flex.align-center
            span.icon-help
            span.menu__item__text Ask Help
    li
        a(href="#").d-flex.align-center
            span.icon-setings
            span.menu__item__text Account Settings
    li
        a(href="#").d-flex.align-center
            span.icon-blocked
            span.menu__item__text Blocked members
    li
        a(href="#").d-flex.align-center
            span.icon-invite
            span.menu__item__text Invite New Members
    li
        a(href="#").d-flex.align-center
            span.icon-logout
            span.menu__item__text Log Out
