.left-sidebar
    .models-card
        .models-card__img
            img(src='img/photos/photo-1.jpg')
            .top-label.d-flex
                span.icon-check_in_circle.green
        .models-card__body
            .models-card__data
                .name.d-flex <span class="icon-star_full yellow"></span> Simran Bose <sup class="status online"></sup>
                .type.grey Transsexual (pre-op)
                .location <span class="icon-pin"></span> United States
                .model-raiting.d-flex.align-center.grey.justify-center Photo Rating <span class="raiting-content">4.87</span>
    include ../includes/members-menu
