aside.right-sidebar
    .adv-title Advertisement
    .right-sidebar__items
        a.right-sidebar__item(href='#')
            img(src="img/photos/banner_lt_1.jpg")
        a.right-sidebar__item(href='#')
            img(src="img/photos/banner_lt_2.jpg")
        a.right-sidebar__item(href='#')
            img(src="img/photos/banner_lt_3.jpg")
        a.right-sidebar__item(href='#')
            img(src="img/photos/banner_lt_4.jpg")
        a.right-sidebar__item(href='#')
            img(src="img/photos/banner_lt_5.jpg")
