.container
    .text-banner.js--close-container.text-center
        a.close.js--close(href='#')
            span.icon-close
        .h3.font-600 SCAMMER ALERT
        p.
            Be aware of a <b>WhatsApp</b> scam!!!<br>
            If a person contacts you to ask verify <span class="pink">account data</span>, your <span class="pink">username</span>, your <span class="pink">password</span>, your <span class="pink">email address</span> and also <span class="pink">credit card</span> data, then <b>BLOCK HIM IMMEDIATELY</b>.
        p.
            He pretends to be owner of TS-Dating.com and wants to INVESTIGATE you.<br>
            Please notice, TS-Dating <span class="pink">WILL NEVER ask your PASSWORD, EMAIL or CREDIT CARD data</span>.
