.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                .profile-content__body.w-100
                    .h2.font-700.mb-2 Report Trafficking
                    .text-block
                        p.
                            Our Site is wholly committed to raising awareness of the human trafficking issue. We are a private, online business that chooses to be conscientious of this problem. We pledge to implement internal anti-trafficking initiatives and maintain advocacy efforts to battle the global human trafficking problem. In the event that we become aware of any incident of trafficking, we cooperate enthusiastically with state and federal law enforcement officials assigned to combating this vile abuse of human rights.
                        p.
                            Please report any suspicion of activity possibly related to human trafficking to the appropriate authorities and/or any of the following anti-trafficking enforcement resources below:
                        h3 International
                        p.
                            One of the Interpol main activities are fight against human trafficking and crimes against children. To report a crime or suspicion of crime : <a href="#">Contact Interpol Here</a>
                        h3 European Union
                        p <a href="#"><b>•   EU Institutions and International Organisations</b></a>
                    .contact-us.mb-3
                        .h3.font-700.mb-2 Germany
                        p.font-500.mb-2.
                            Ban Ying Counseling and coordination Center against trafficking in Persons Anklamer Strasse 38, 10115 Berlin
                        p.font-500.mb-1.
                            <span class="grey">Telephone</span> <a href="#">+49 30 440 63 73</a>
                        p.font-500.mb-1.
                            <span class="grey">Contact:</span> <a href="#" class="pink link">sales@ts-dating.com</a>
                        p.font-500.mb-1.
                            <span class="grey">Phone:</span> <a href="tel:+37256886126" class="black">+372 56 886 126</a>
                        p.font-500.mb-1.
                            <span class="grey">Whatsapp:</span> <a href="tel:+37256886126" class="black">+372 56 886 126 <span class="icon-viber green"></span></a>
                        p.font-500.mb-1.
                            <span class="grey">Banner design cost:</span> 30 EUR.
                        p.font-500.mb-1.
                            <span class="grey">Combo deals available:</span> Ask for a FREE Premium Membership during banner advertising period. Also ask for discount if you purchase 2 or more months advertising. B! Prices below are for private persons such as escorts etc. For COMPANIES or escort AGENCIES there there is additional surcharge 100%.
                        p.font-500.mb-4.
                            <span class="grey">Bonuses:</span> Side banner + Escort list banner 210 EUR!
                    .contact-us.mb-3
                        .h3.font-700.mb-2 United Kingdom
                        p.font-500.mb-2.
                            Report human trafficking<br>
                            If you have information about human trafficking or hold urgent information that requires an immediate response dial 999.<br>
                            If you hold information that could lead to the identification, discovery and recovery of victims in the UK, you can also contact the charity Crimes
                            toppers anonymously on 0800 555 111.<br>
                            <a href="#" class="pink link">www.nationalcrimeagency.gov.uk</a>
                        p.font-500.mb-2.
                            Anti-slavery International (Non Government Organisation)<br>
                            Thomas Clarkson House<br>
                            The Stableyard, Broomgrove Road, London SW9 9TL<br>
                        p.font-500.mb-1.
                            <span class="grey">Telephone</span> <a href="#">+49 30 440 63 73</a>
                        p.font-500.mb-1.
                            <span class="grey">Phone:</span> <a href="tel:+37256886126" class="black">+372 56 886 126</a>
                        p.font-500.mb-1.
                            <span class="grey">Website:</span> <a href="www.antislavery.org" class="pink link">www.antislavery.org</a>
                    .contact-us.mb-3
                        .h3.font-700.mb-2 France
                        p.font-500.mb-1.
                            <span class="grey">General Secretary:</span> Elisabeth Moiron-braud
                        p.font-500.mb-1.
                            <span class="grey">E-mail:</span> <a href="#">Elisabeth.moiron-braud@miprof.gouv.fr</a>
                        p.font-500.mb-1.
                            <span class="grey">Telephone</span> <a href="#">+49 30 440 63 73</a>
                        p.font-500.mb-1.
                            <span class="grey">National Coordinator:</span> Eric Panloup
                        p.font-500.mb-1.
                            <span class="grey">E-mail:</span> <a href="mailto:eric.panloup@miprof.gouv.fr" class="black">eric.panloup@miprof.gouv.fr</a>
                        p.font-500.mb-1.
                            <span class="grey">Website:</span> <a href="www.antislavery.org" class="pink link">www.antislavery.org</a>
                    .contact-us.mb-3
                        .h3.font-700.mb-2 Spain
                        p.font-500.mb-1.
                            <span class="grey">General Secretary:</span> Elisabeth Moiron-braud
                        p.font-500.mb-1.
                            <span class="grey">E-mail:</span> <a href="#">Elisabeth.moiron-braud@miprof.gouv.fr</a>
                        p.font-500.mb-1.
                            <span class="grey">Telephone</span> <a href="#">+49 30 440 63 73</a>
                        p.font-500.mb-1.
                            <span class="grey">National Coordinator:</span> Eric Panloup
                        p.font-500.mb-1.
                            <span class="grey">E-mail:</span> <a href="mailto:eric.panloup@miprof.gouv.fr" class="black">eric.panloup@miprof.gouv.fr</a>
                        p.font-500.mb-1.
                            <span class="grey">Website:</span> <a href="www.antislavery.org" class="pink link">www.antislavery.org</a>
                        p.font-500.mb-1.
                            <span class="grey">General Secretary:</span> Elisabeth Moiron-braud
                        p.font-500.mb-1.
                            <span class="grey">E-mail:</span> <a href="#">Elisabeth.moiron-braud@miprof.gouv.fr</a>
                        p.font-500.mb-1.
                            <span class="grey">Telephone</span> <a href="#">+49 30 440 63 73</a>
                    .contact-us.mb-3
                        .h3.font-700.mb-2 Netherlands
                        p.font-500.mb-1.
                            Dutch National Rapporteur on Trafficking in Human Beings and Sexual Violence against Children<br>
                            PO Box 20301<br>
                            2500 EH The Hague<br>
                            The Netherlands<br>
                            Visiting address<br>
                            Turfmarkt 147<br>
                            2511 EM The Hague<br>
                            The Netherlands
                        p.font-500.mb-1.
                            <span class="grey">E-mail:</span> <a href="#">Elisabeth.moiron-braud@miprof.gouv.fr</a>
                        p.font-500.mb-1.
                            <span class="grey">Telephone</span> <a href="#">+49 30 440 63 73</a>
                        p.font-500.mb-1.
                            <span class="grey">National Coordinator:</span> Eric Panloup
                        p.font-500.mb-1.
                            <span class="grey">E-mail:</span> <a href="mailto:eric.panloup@miprof.gouv.fr" class="black">eric.panloup@miprof.gouv.fr</a>
                    .h3.text-uppercase.violet-light.font-700 WARNING SIGNS OF POSSIBLE HUMAN TRAFFICKING:
                    p.
                        •   Does an entertainer arrive accompanied by another individual?<br>
                        •   Does that individual speak for or appear to maintain control over the entertainer?<br>
                        •   Does the entertainer seem fearful of that individual?<br>
                        •   Does the entertainer have difficulty communicating, whether resulting from a language barrier or fear of interaction?<br>
                    p.
                        While one of these signs, on its own, may not present a trafficking concern, multiple signs indicate a potential red flag. Use common sense, and contact the appropriate authorities if you suspect that someone is being trafficked.

                    Learn the potential warning signs of human trafficking here: Polaris Project.
        include ../includes/rightSidebar.pug
