.main-layout.main-layout--inner
    .container.d-flex
        .left-content
            include ../includes/horizontal-banner
            .profile-content.d-flex
                .profile-content__body.w-100
                    .tabs-wrapper
                        .top-row
                            ul.tab-list.tab-list--grey-bg.d-flex
                                li.active Shemale porn Videos
                                li Member Videos
                                li Tranny Tube
                                li Virtual Reality Shemales
                        .tab-content.active
                             .h3.mb-2
                                 b SHEMALE PORN VIDEOS
                             p.font-600.mb-2.
                                Tranny Tube is a collection of <a href="#" class="link pink">Youtube</a> video links that are related to transgender world.
                                All members in ts-dating.com can submit their favorite video links from Youtube, but it has to be transgender related. <a href="#" class="link pink">Add your videos!</a>
                             .countries-list.mb-4
                                     .countries-list__content.grey-light-bg
                                         ul.countries-list__content__list.d-flex.flex-wrap.no-border
                                             li
                                                 a(href="#")
                                                     span.country-name Andorra
                                                     span.country-count.grey 45
                                             li
                                                 a(href="#")
                                                     span.country-name Angola
                                                     span.country-count.grey 35
                                             li
                                                 a(href="#")
                                                     span.country-name Argentina
                                                     span.country-count.grey 34
                                             li
                                                 a(href="#")
                                                     span.country-name Armenia
                                                     span.country-count.grey 345
                                             li
                                                 a(href="#")
                                                     span.country-name Asia - Other
                                                     span.country-count.grey 345
                                             li
                                                 a(href="#")
                                                     span.country-name Austria
                                                     span.country-count.grey 345
                                             li
                                                 a(href="#")
                                                     span.country-name Azerbaijan
                                                     span.country-count.grey 345
                                             li
                                                 a(href="#")
                                                     span.country-name Bahamas
                                                     span.country-count.grey 345
                                             li
                                                 a(href="#")
                                                     span.country-name Bahrain
                                                     span.country-count.grey 345
                                             li
                                                 a(href="#")
                                                     span.country-name Bangladesh
                                                     span.country-count.grey 345
                                             li
                                                 a(href="#")
                                                     span.country-name Belarus
                                                     span.country-count.grey 345
                                             li
                                                 a(href="#")
                                                     span.country-name Belgium
                                                     span.country-count.grey 345
                                             li
                                                 a(href="#")
                                                     span.country-name Belgium - Other
                                                     span.country-count.grey 345
                                     a.btn.btn--full-width.btn--violet.mt-3 <span class="icon-plus_in_circle mr-1"></span> Add New TG Bar
                             .h4.font-600.mb-3 Category: Recently Added
                             .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-1.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                             .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-2.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                             .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-1.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                             .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-2.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                             ul.pagination.d-flex.flex-wrap.justify-center.mb-4.mt-4
                                li
                                    a(href="#") <span class="icon-arrow_left pink mr-1"></span> Previous
                                li
                                    a(href="#").active 1
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li
                                    a(href="#") 4
                                li
                                    a(href="#") 5
                                li
                                    a(href="#") 6
                                li
                                    a(href="#") 7
                                li ...
                                li
                                    a(href="#") 10
                                li
                                    a(href="#") 20
                                li
                                    a(href="#") Next <span class="icon-arrow_right pink ml-1"></span>
                        .tab-content
                            .h3.mb-2
                                b MEMBER VIDEOS
                            p.font-600.mb-2.
                                Tranny Tube is a collection of <a href="#" class="link pink">Youtube</a> video links that are related to transgender world.
                                All members in ts-dating.com can submit their favorite video links from Youtube, but it has to be transgender related. <a href="#" class="link pink">Add your videos!</a>
                            .countries-list.mb-4
                                .countries-list__content.grey-light-bg
                                    ul.countries-list__content__list.d-flex.flex-wrap.no-border
                                        li
                                            a(href="#")
                                                span.country-name Andorra
                                                span.country-count.grey 45
                                        li
                                            a(href="#")
                                                span.country-name Angola
                                                span.country-count.grey 35
                                        li
                                            a(href="#")
                                                span.country-name Argentina
                                                span.country-count.grey 34
                                        li
                                            a(href="#")
                                                span.country-name Armenia
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Asia - Other
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Austria
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Azerbaijan
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Bahamas
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Bahrain
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Bangladesh
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Belarus
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Belgium
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Belgium - Other
                                                span.country-count.grey 345
                                a.btn.btn--full-width.btn--violet.mt-3 <span class="icon-plus_in_circle mr-1"></span> Add New TG Bar
                            .h4.font-600.mb-3 Category: Interviews
                            .model-video.mb-2
                                .video-block
                                    .video-content
                                        img(src="img/photos/video-poster.jpg" alt="")
                                .model-video__options.grey-light-bg
                                    .model-video__options__top.d-flex.justify-between
                                        .model-video__options__top__left
                                            .h4.font-600.mb-1 Shemale Pornstar Vo'd Balm interview
                                            p.font-600.mb-1 <span class="grey">Date added:</span> <span class="black mr-2">04:07 21-Mar-2019</span> <span class="grey">Added By:</span> <a href="#" class="pink link">Admin</a>
                                            p.font-600.mb-1 <span class="grey">Category:</span> <span class="badge badge--grey mr-2">Dating & Relationships</span> <span class="grey">Youtube Link:</span> <a href="#" class="pink link">https://youtu.be/SQH2eDn41xY</a>
                                            p.font-600.text--small.
                                                <span class="grey">Description:</span> Ladyboys, or transgenders, are extremely common in Thailand and you will see them everywhere — on the streets, on the metro, in
                                                | restaurants and especially in nightlife areas. Many times, you won't even notice it's a ladyboy, since they look like
                                        .model-video__options__top__right
                                            a.btn.btn--violet.btn--small <span class="icon-thumbs_up mr-1"></span> Like 34
                            .h4.font-600.mb-3 Related Videos
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-1.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-2.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-1.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-2.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            ul.pagination.d-flex.flex-wrap.justify-center.mb-4.mt-4
                                li
                                    a(href="#") <span class="icon-arrow_left pink mr-1"></span> Previous
                                li
                                    a(href="#").active 1
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li
                                    a(href="#") 4
                                li
                                    a(href="#") 5
                                li
                                    a(href="#") 6
                                li
                                    a(href="#") 7
                                li ...
                                li
                                    a(href="#") 10
                                li
                                    a(href="#") 20
                                li
                                    a(href="#") Next <span class="icon-arrow_right pink ml-1"></span>
                        .tab-content
                            .h3.mb-2
                                b TrannyTube
                            p.font-600.mb-3.
                                Tranny Tube is a collection of <a href="#" class="link pink">Youtube</a> video links that are related to transgender world.
                                All members in ts-dating.com can submit their favorite video links from Youtube, but it has to be transgender related. <a href="#" class="link pink">Add your videos!</a>
                            form(action="#").mb-5
                                .h4.font-600.mb-2 Add Video
                                .input-wrapper
                                    span Category::
                                    select.select-input
                                        option Canada
                                        option USA
                                .input-wrapper
                                    span Title:
                                    input.input(type="text")
                                .input-wrapper
                                    span Address*:
                                    input.input(type="text")
                                .input-wrapper
                                    span Description:
                                    textarea.input
                                .input-wrapper
                                    span Link from Youtube:
                                    span.grey.text--small Example: http://www.youtube.com/watch?v=e2Jyzwtv4G4
                                    input.input(type="text")
                                input(type="submit" value="Add Link").btn.btn--lg.btn--violet
                            .countries-list.mb-4
                                .countries-list__content.grey-light-bg
                                    ul.countries-list__content__list.d-flex.flex-wrap.no-border
                                        li
                                            a(href="#")
                                                span.country-name Africa
                                                span.country-count.grey 345
                                        li
                                            a(href="#").active
                                                span.country-name Albania
                                                span.country-count.grey 54
                                        li
                                            a(href="#")
                                                span.country-name Algeria
                                                span.country-count.grey 24
                                        li
                                            a(href="#")
                                                span.country-name Andorra
                                                span.country-count.grey 873
                                        li
                                            a(href="#")
                                                span.country-name Angola
                                                span.country-count.grey 176
                                        li
                                            a(href="#")
                                                span.country-name Argentina
                                                span.country-count.grey 22
                                        li
                                            a(href="#")
                                                span.country-name Armenia
                                                span.country-count.grey 84
                                        li
                                            a(href="#")
                                                span.country-name Asia - Other
                                                span.country-count.grey 97
                                        li
                                            a(href="#")
                                                span.country-name Austria
                                                span.country-count.grey 349
                                        li
                                            a(href="#")
                                                span.country-name Azerbaijan
                                                span.country-count.grey 918
                                        li
                                            a(href="#")
                                                span.country-name Bahamas
                                                span.country-count.grey 1254
                                        li
                                            a(href="#")
                                                span.country-name Bahrain
                                                span.country-count.grey 659
                                        li
                                            a(href="#")
                                                span.country-name Bangladesh
                                                span.country-count.grey 372
                                        li
                                            a(href="#")
                                                span.country-name Belarus
                                                span.country-count.grey 855
                                        li
                                            a(href="#")
                                                span.country-name Belgium
                                                span.country-count.grey 533
                                        li
                                            a(href="#")
                                                span.country-name Belgium - Other
                                                span.country-count.grey 76
                                        li
                                            a(href="#")
                                                span.country-name Africa
                                                span.country-count.grey 9
                                        li
                                            a(href="#")
                                                span.country-name Albania
                                                span.country-count.grey 0
                                        li
                                            a(href="#")
                                                span.country-name Algeria
                                                span.country-count.grey 451
                                        li
                                            a(href="#")
                                                span.country-name Andorra
                                                span.country-count.grey 887
                                        li
                                            a(href="#")
                                                span.country-name Angola
                                                span.country-count.grey 666
                                        li
                                            a(href="#")
                                                span.country-name Argentina
                                                span.country-count.grey 36
                                        li
                                            a(href="#")
                                                span.country-name Armenia
                                                span.country-count.grey 98
                                        li
                                            a(href="#")
                                                span.country-name Asia - Other
                                                span.country-count.grey 101
                                        li
                                            a(href="#")
                                                span.country-name Austria
                                                span.country-count.grey 532
                                        li
                                            a(href="#")
                                                span.country-name Azerbaijan
                                                span.country-count.grey 53
                                        li
                                            a(href="#")
                                                span.country-name Bahamas
                                                span.country-count.grey 76
                                a.btn.btn--full-width.btn--violet.mt-3 <span class="icon-plus_in_circle mr-1"></span> Add New TG Bar
                            .h4.font-600.mb-2 Category: Recently Added
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-1.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-2.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-1.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-2.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            ul.pagination.d-flex.flex-wrap.justify-center.mb-4.mt-4
                                li
                                    a(href="#") <span class="icon-arrow_left pink mr-1"></span> Previous
                                li
                                    a(href="#").active 1
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li
                                    a(href="#") 4
                                li
                                    a(href="#") 5
                                li
                                    a(href="#") 6
                                li
                                    a(href="#") 7
                                li ...
                                li
                                    a(href="#") 10
                                li
                                    a(href="#") 20
                                li
                                    a(href="#") Next <span class="icon-arrow_right pink ml-1"></span>
                        .tab-content
                            .h3.mb-2
                                b VIRTUAL REALITY SHEMALES
                            p.font-600.mb-2.
                                Tranny Tube is a collection of <a href="#" class="link pink">Youtube</a> video links that are related to transgender world.
                                All members in ts-dating.com can submit their favorite video links from Youtube, but it has to be transgender related. <a href="#" class="link pink">Add your videos!</a>
                            .countries-list.mb-4
                                .countries-list__content.grey-light-bg
                                    ul.countries-list__content__list.d-flex.flex-wrap.no-border
                                        li
                                            a(href="#")
                                                span.country-name Andorra
                                                span.country-count.grey 45
                                        li
                                            a(href="#")
                                                span.country-name Angola
                                                span.country-count.grey 35
                                        li
                                            a(href="#")
                                                span.country-name Argentina
                                                span.country-count.grey 34
                                        li
                                            a(href="#")
                                                span.country-name Armenia
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Asia - Other
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Austria
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Azerbaijan
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Bahamas
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Bahrain
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Bangladesh
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Belarus
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Belgium
                                                span.country-count.grey 345
                                        li
                                            a(href="#")
                                                span.country-name Belgium - Other
                                                span.country-count.grey 345
                                a.btn.btn--full-width.btn--violet.mt-3 <span class="icon-plus_in_circle mr-1"></span> Add New TG Bar
                            .h4.font-600.mb-3 Category: Recently Added
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-1.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-2.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-1.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            .models-card.models-card--border-bottom.models-card--lt-photo.models-card--row
                                a.models-card__img(href="#")
                                    img(src='img/photos/photo-2.jpg')
                                .models-card__body
                                    .models-card__data
                                        a.name.link.pink(href="#") Mala Mala -Teaser (2014) Tribeca Film Festival
                                        p.font-600.mb-1.text--small.
                                            Charlet heads to the sexiest city in the world for Fashion Week and, taking the advice of 1980s Arnold Schwarzenegger, goes
                                            hunting for ass. She plays "spot the transsexual model" backstage at the
                                        .models-card__data__item
                                            .font-600.grey Added By: <a href="#" class="pink link">Admin</a>  |  Date: <span class="black">04:07 21-Mar-2019</span>
                            ul.pagination.d-flex.flex-wrap.justify-center.mb-4.mt-4
                                li
                                    a(href="#") <span class="icon-arrow_left pink mr-1"></span> Previous
                                li
                                    a(href="#").active 1
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li
                                    a(href="#") 4
                                li
                                    a(href="#") 5
                                li
                                    a(href="#") 6
                                li
                                    a(href="#") 7
                                li ...
                                li
                                    a(href="#") 10
                                li
                                    a(href="#") 20
                                li
                                    a(href="#") Next <span class="icon-arrow_right pink ml-1"></span>
        include ../includes/rightSidebar.pug
