extends ../layout/layout.pug
block vars
    - var title = 'About Us';
block header
    include ../includes/header.pug
block content
    include ../includes/about-us
block footer
    include ../includes/footer.pug
