extends ../layout/layout.pug
block vars
    - var title = 'О нас';
block content
    h1 TEST
    p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum doloribus eligendi est expectation fug fugit ipsum iure modi numquam, odit perspiciatis quo sequi sint. A deserunt placeat quae similique voluptatibus.
