extends ../layout/layout.pug
block vars
    - var title = 'Add Raiting';
block header
    include ../includes/header.pug
block content
    include ../includes/add-photo-raiting
block footer
    include ../includes/footer.pug
