extends ../layout/layout.pug
block vars
    - var title = 'Adv';
block header
    include ../includes/header.pug
block content
    include ../includes/advertise
block footer
    include ../includes/footer.pug
