extends ../layout/layout.pug
block vars
    - var title = 'New-Search';
block header
    include ../includes/header.pug
block content
    include ../includes/dating-new-search
block footer
    include ../includes/footer.pug
