extends ../layout/layout.pug
block vars
    - var title = 'Newtrans-Webcam';
block header
    include ../includes/header.pug
block content
    include ../includes/escort-newtrans-webcam
block footer
    include ../includes/footer.pug
