extends ../layout/layout.pug
block vars
    - var title = 'FAQ';
block header
    include ../includes/header.pug
block content
    include ../includes/faq
block footer
    include ../includes/footer.pug
