extends ../layout/layout.pug
block vars
    - var title = 'Member Area';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-patr-3_blocked.pug
block footer
    include ../includes/footer.pug
