extends ../layout/layout.pug
block vars
    - var title = 'Acc Settings';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-part-2_account_settings
block footer
    include ../includes/footer.pug
