extends ../layout/layout.pug
block vars
    - var title = 'Invite';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-patr-3_invite.pug
block footer
    include ../includes/footer.pug
