extends ../layout/layout.pug
block vars
    - var title = 'Videos';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-part-2_videos
block footer
    include ../includes/footer.pug
