extends ../layout/layout.pug
block vars
    - var title = 'Banner Card';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-part-3_banner_card_payment
block footer
    include ../includes/footer.pug
