extends ../layout/layout.pug
block vars
    - var title = 'Escort Ad';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-part-3_buy_escort_ad
block footer
    include ../includes/footer.pug
