extends ../layout/layout.pug
block vars
    - var title = 'Member Local';
block header
    include ../includes/header.pug
block content
    include ../includes/member-local-new
block footer
    include ../includes/footer.pug
