extends ../layout/layout.pug
block vars
    - var title = 'Edit Profile';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-part-1_edit_profile
block footer
    include ../includes/footer.pug
