extends ../layout/layout.pug
block vars
    - var title = 'Premium Card';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-part-3_premium_card_payment.pug
block footer
    include ../includes/footer.pug
