extends ../layout/layout.pug
block vars
    - var title = 'Photos';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-part-2_photos
block footer
    include ../includes/footer.pug
