extends ../layout/layout.pug
block vars
    - var title = 'Reg Member';
block header
    include ../includes/header.pug
block content
    include ../includes/member-registration
block footer
    include ../includes/footer.pug
