extends ../layout/layout.pug
block vars
    - var title = 'Friends';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-part-2_friends
block footer
    include ../includes/footer.pug
