extends ../layout/layout.pug
block vars
    - var title = 'AD Pay';
block header
    include ../includes/header.pug
block content
    include ../includes/member-area-part-3_ad_payments.pug
block footer
    include ../includes/footer.pug
