extends ../layout/layout.pug
block vars
    - var title = 'Photo Raiting';
block header
    include ../includes/header.pug
block content
    include ../includes/photo-raiting
block footer
    include ../includes/footer.pug
