extends ../layout/layout.pug
block vars
    - var title = 'tgBars';
block header
    include ../includes/header.pug
block content
    include ../includes/tgbars-addtgbars
block footer
    include ../includes/footer.pug
