extends ../layout/layout.pug
block vars
    - var title = 'trannytube';
block header
    include ../includes/header.pug
block content
    include ../includes/trannytube-listing
block footer
    include ../includes/footer.pug
